<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CurrentConnectionStrings" value="EndYearLottery" />
    <add key="MaxUpdateRow" value="2000" />
    <add key="CurrentFactory" value="System.Data.SqlClient.SqlClientFactory, System.Data.SqlClient, Version=4.6.1.2, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <add key="dbAssemblyName" value="CSIDbHelper" />
    <add key="fileAssemblyName" value="CSICommon" />
    <add key="logAssemblyName" value="CSILogger" />
    <add key="DBModule" value="CSICommon.CSIDbHelper.DBHelper" />
    <add key="FileModule" value="CSICommon.FileHelper" />
    <add key="LogModule" value="CSICommon.Logger.Logger" />
    <add key="EmailModule" value="CSICommon.CSIEmail.EmailHelper" />
    <add key="EmailTemplate" value="\Template\EmailTemplate.html" />
    <add key="EmailSendGridAPIKey" value="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" />
    <add key="LogFileName" value="Log.txt" />
    <add key="LogFileFolder" value="\log\" />
    <add key="IsAppend" value="true" />
    <add key="Encoding" value="utf-16" />
    <add key="JsonFilePath" value="~\SysMessage\message.json" />
    <add key="fileCapacityRemindString" value="上傳容量限制為2GB" />
    <add key="googleRecaptchaURL" value="https://www.google.com/recaptcha/api/siteverify?secret=6Lf-0BscAAAAAKEaUEfmHHZg11C33LbflP49nHcI&amp;response=" />
  </appSettings>
  <connectionStrings>
    <add name="EndYearLottery" connectionString="Server=10.0.101.15;Database=EndYearLottery;User Id=puser; Password=1qaz@WSX;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
